# .github/workflows/release.yml
name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake git
          sudo apt-get install -y libasound2-dev libx11-dev libxrandr-dev libxi-dev libgl1-mesa-dev libglu1-mesa-dev libxcursor-dev libxinerama-dev libwayland-dev libxkbcommon-dev
          
      - name: Build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release
          mv build/shellpower shellpower-linux-x64
          
      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: shellpower-linux-x64

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
          
      - name: Build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release
          mv build/shellpower shellpower-macos-arm64
          
      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: shellpower-macos-arm64


  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release
          
      - name: Rename executable
        run: Move-Item -Path "build\Release\shellpower.exe" -Destination "shellpower-windows-x64.exe"
          
      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: shellpower-windows-x64.exe